@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat';
    margin: 0; // height: 100%;
}

main {
    margin-top: 3.5rem;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}